@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body {
 background-image: url("../img/new_year_background.png");
 background-repeat: repeat;
 width: 100%;
 font-family: 'Raleway', sans-serif;
 color: #303030;
}

.container {
    min-width: 400px;
    min-height: 200px;
    background: linear-gradient(45deg, #AB8D8D 10%,#F7B2B2 50%,#F1D8D8 75%);
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    -webkit-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
    padding: 10px;
    margin: 10px;
    opacity: .75;
}

li {
  list-style: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: #303030;
}
.done {
  text-decoration: line-through;
  color: #f5f5dc;
  text-shadow: 1px 1px 1px #0c0c0c;
}

h1 {
  font-size: 35px;
  letter-spacing: 1px;
  color: #303030;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}
